*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.chat-container{
  width:95%;
  max-width:600px;
  height:90vh;
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
}

.chat-header{
  background:#2563eb;
  padding:20px;
  color:white;
}

.username-box{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.username-box input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
}

.username-box button{
  padding:10px 15px;
}

.chat-messages{
  flex:1;
  padding:20px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.message{
  padding:12px;
  border-radius:12px;
  max-width:80%;
}

.sent{
  align-self:flex-end;
  background:#2563eb;
  color:white;
}

.received{
  align-self:flex-start;
  background:#334155;
  color:white;
}

.typing{
  height:25px;
  padding-left:20px;
  color:#94a3b8;
  font-size:14px;
}

#chat-form{
  display:flex;
  gap:10px;
  padding:15px;
  background:#0f172a;
}

#message-input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  outline:none;
}

button{
  border:none;
  background:#2563eb;
  color:white;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;
}
